.content-search {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: var(--width-content);
    top: 5%;
}

.content-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(188, 190, 198, 0.4);

    input {
        flex: 1;
        height: 100%;
        color: #62677A;
        opacity: 0.5;
        font-size: 1.4rem;
        border: none;
        background-color: transparent;
        outline: none;
    }
}

.content-btnSearch {
    height: 100%;
    width: 15%;
    background: transparent;
    border: none;
    cursor: pointer;
}

