.product-update {
    position: absolute;
    width: 69%;
    height: 91%;
    left: 26%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.product-updateContent {
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 95%;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
}
.update-form {
    width: 90%;
    height: 90%;
}
.left {
    width: 47%;
}
.right {
    width: 47%;
    height: 100%;
}
.update-image {
    width: 45%;
}
.title-infor {
    padding-bottom: 10px;
}
.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: red;
  }