.content-container {
    position: absolute;
    display: flex;
    height: calc(100% - 83px);
    width: 74%;
    left: 26%;
}

.content-search {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width-content);
    top: 5%;
}

// .content-box {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     text-align: center;
//     width: 40%;
//     height: 48px;
//     background: #FFFFFF;
//     border: 1px solid rgba(188, 190, 198, 0.4);

//     input {
//         flex: 1;
//         height: 100%;
//         color: #62677A;
//         opacity: 0.5;
//         font-size: 1.4rem;
//         border: none;
//         background-color: transparent;
//         outline: none;
//     }
// }

// .content-btnSearch {
//     height: 100%;
//     width: 15%;
//     background: transparent;
//     border: none;
//     cursor: pointer;
// }

.content-list {
    position: absolute;
    width: var(--width-content);
    height: calc(100% - 20%);
    top: 17%;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
 
  
.modal{
    display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 80vh;
    overflow-y: auto;
}